* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1100px;
    margin: auto;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Quicksand", sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

.btn-primary {
    color: #fff;
    border: 1px solid #fff;
}

.btn-primary:hover {
    background: #e4b95b;
}

#menu {
    padding: 6rem 0;
    background: #f4f2ed;
}

#menu h2 {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
    color: #383848;
}

#menu .title p {
    font-weight: 400;
    margin-bottom: 20px;
    padding: 0 20px;
    font-size: 20px;
    color: #383848;
}

#menu .title {
    text-align: center;
    padding: 20px 30px;
    margin-bottom: 4rem;
}

#menu .menu-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-items .menu-item img {
    width: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.menu-items .menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.menu-items .menu-item h3 {
    border-bottom: 2px dashed #cdcdcd;
    padding-bottom: 15px;
    margin-bottom: 10px;
    position: relative;
    color: #383848;
}

.menu-items .menu-item span {
    position: absolute;
    color: #e4b95b;
    top: 0;
    right: 0;
}

#menu .btn {
    margin: 20px auto;
    display: block;
    transition: 1s;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #e4b95b;
}

#menu .btn:hover {
    transform: scale(1.5);
    background-color: #383848;
}

#contact {
    padding: 6rem 0;
    background: #f4f2ed;
}

#contact .container {
    max-width: 900px;
}

#contact .contact-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contact-content .contact-info {
    width: 50%;
}

.contact-content .contact-info div {
    margin: 20px 0;
    line-height: 1.7;
}

.contact-content .contact-info h3 {
    color: #383848;
    font-size: 30px;
    margin-bottom: 10px;
}

.contact-content .contact-info p {
    color: #9a9a9a;
}

.contact-content .contact-info i {
    color: #e4b95b;
    margin-right: 5px;
}

.contact-content .contact-info a i {
    color: #fff;
    width: 60px;
    border-radius: 50%;
    background-color: #383848;
    padding: 15px;
    font-size: 20px;
}

.contact-content .contact-info a i:hover {
    background-color: #e4b95b;
    color: #383848;
}

form {
    width: 50%;
}

form input {
    display: block;
    width: 100%;
    margin: 20px 0;
    padding: 20px 15px;
    border: none;
    background-color: #e3e2dd;
}

form textarea {
    display: block;
    width: 100%;
    margin: 20px 0;
    padding: 20px 15px;
    border: none;
    background-color: #e3e2dd;
}

#gallery {
    background-image: url("images/offer-background.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 8rem 0 6rem;
}

.img-gallery img {
    width: 300px;
    height: 200px;
    border-radius: 20px;
    margin: 20px;
}

.img-gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

#gallery h2 {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
    color: #fff;
}

#boxContainer {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85);
    z-index: 999;
}

#boxItem {
    width: 70%;
    height: 70%;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;
}

#boxItem i {
    color: #fff;
    cursor: pointer;
    position: absolute;
    transition: color 0.3s;
}

#boxItem i:hover {
    color: #e4b95b;
}

#close {
    top: 15px;
    right: 20px;
}

#prev {
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
}

#next {
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}


#offers {
    height: 80vh;
    background: url("images/offer-background.jpg") center center/cover fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem 0;
    position: relative;
    text-align: center;
}

#offers .offers-items-wrapper {
    overflow: hidden;
    width: 100%;
}

#offers .offers-items {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

#offers .offer-item {
    min-width: 100%;
    box-sizing: border-box;
}

#offers .offers-items img {
    width: 200px;
}

#offers h2 {
    color: #e4b95b;
}

#offers .title p {
    color: #fff;
    font-weight: 500;
}

#offers .offers-items h3 {
    font-size: 25px;
    color: #fff;
    margin: 15px 0;
}

#offers .offers-items p {
    color: #fff;
    font-size: 14px;
    padding: 0 20px;
    font-weight: 300;
    margin-bottom: 15px;
}

#offers .offers-items span {
    font-weight: 600;
    font-size: 18px;
    margin-left: 5px;
}

#offers .prev,
#offers .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 24px;
    border: none;
    cursor: pointer;
    padding: 10px;
}

#offers .prev {
    left: 10px;
}

#offers .next {
    right: 10px;
}

#offers .prev:hover,
#offers .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.menu-items .menu-item span {
    position: absolute;
    color: #e4b95b;
    top: 0;
    right: 0;
}
.offers-items span {
    font-weight: 600;
    font-size: 25px;
    margin-left: 5px;
    color: #e4b95b;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
.btn-primary {
    color: #fff;
    border: 1px solid #fff;
}

.btn-primary:hover {
    background: #e4b95b;
}
.btn-primary:hover,
.btn-secondary:hover,
.btn-third {
    background: #e4b95b;
    transform: scale(1.3);}.btn-secondary,
.btn-third:hover {
    color: #fff;
    background: #383848;
    margin-top: 2rem;
} 